{% set currentUrl = page.url %}

<nav class="nav wrapper">
  <a class="nav__home" href="/">Home</a>
  <ul class="nav__items">
    <li class="nav__item">
      <a class="nav__item-link" href="/writing">Writing</a>
    </li>
    <li class="nav__item">
      <a class="nav__item-link" href="https://github.com/slowtalkslow" target="_blank" rel="noopener">Github</a>
    </li>
    <li class="nav__item">
      <a class="nav__item-link" href="https://codepen.io/slowtalkslow" target="_blank" rel="noopener">CodePen</a>
    </li>
  </ul>
</nav>
