---
layout: base.njk
---
{% codepen_js %}
{% include 'sitenav.njk' %}

<main tabindex="-1" id="main-content">
  <div class="post__header">
    <div class="post__header-inner">
      <div class="post__header-date">{% date page.date %}</div>
      <h1 class="post__header-title">{{ title }}</h1>
      <ul class="post__header-tags">
        {%- for tag in tags -%}
        <li>
          <a class="post-tag" href="#">
          {{ tag }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="wrapper post">
    <div class="snack-intro">✨ {{ description }} ✨</div>
    {{ content | safe }}
  </div>
</main>

{% include 'footer.njk' %}