---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
{% include 'sitenav.njk' %}

<main tabindex="-1" id="main-content">
  <div class="[ writing tags ] [ wrapper ]">
    <div class="writing__header">
    <h1 class="writing__heading">Tagged — <span class="section-heading">"{{ tag }}"</span></h1>
  </div>
  <ul class="writing__posts">
    {%- for page in collections[ tag ] -%}
    {% if page.data.title %}
    <div class="writing__post">
      <p class="writing__post-date">{{ page.date.toLocaleDateString() }}</p>
      <a href="{{ page.url }}">
        <h2 class="writing__post-title">{{ page.data.title }}</h2>
        <p class="writing__post-description">{{ page.data.description }}</p>
      </a>
      <ul class="writing__post-tags">
        {%- for tag in page.data.tags -%}
        <li>
          <a class="[ writing__post-tag ] [ post-tag ]" href="/tags/{{ tag }}/">
          {{ tag }}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {% endif %}
    {%- endfor -%}
  </ul>
</main>

{% include 'footer.njk' %}
