---
layout: base.njk
---
{% include 'sitenav.njk' %}

<main tabindex="-1" id="main-content">
  <div class="[ writing ] [ wrapper ]">
    <div class="writing__header">
      <h1 class="writing__heading section-heading section-heading--variant">Writing</h1>
    </div>
    <ul class="writing__posts">
      {%- for page in collections.recent -%}
      <div class="writing__post">
        <p class="writing__post-date">{% date page.date %}</p>
        <a href="{{ page.url }}">
          <h2 class="writing__post-title">{{ page.data.title }}</h2>
          <p class="writing__post-description">{{ page.data.description }}</p>
        </a>
        <ul class="writing__post-tags">
          {%- for tag in page.data.tags -%}
          <li>
            <a class="[ writing__post-tag ] [ post-tag ]" href="/tags/{{ tag }}/">
            {{ tag }}
            </a>
          </li>
          {%- endfor -%}
         </ul>
      </div>
      {%- endfor -%}
    </ul>
  </div>
</main>

{% include 'footer.njk' %}
